<!DOCTYPE html>
<html>
<head>
	<title>Home-Page</title>
	<link rel="stylesheet" type="text/css" href="../css/home.css">
</head>
<body>
	<ul class="nav">
		<li class="left-item"><a href="#">Home</a></li>
		<li class="left-item"><a href="#">About</a> </li>
		<li class="left-item"><a href="#">Contact</a></li>
		<li class="right-item"><a href="#">Login</a> </li>
		<li class="right-item"><a href="#">Register</a></li>
	</ul>
	<div class="left">
		<ul class="sidebar">
			<li class="list-item">Add Items</li>
			<li class="list-item">View Items</li>
			<li class="list-item">View Record Sales</li>
			<li class="list-item">FAQs</li>
		</ul>
	</div>
	<div class="right">		
	    <h1 class="heading-1">Statistics</h1>
	</div>
</html>